{% comment %}
    if the page is part of paginated pages, tell robots not to index
{% endcomment %}
{% assign array = page.dir | split: '/' %}
{% if array[-2] == "page" %}
<meta name="robots" content="noindex, noarchive" />
{% endif %}

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" />

{% if page.chartjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.1/chart.min.js"></script>
{% endif %}
{% if page.mathjax %}
{% include head/mathjax.html %}
{% endif %}
