@import url("/assets/css/flag-icon-css/css/flag-icon.min.css");

.card-title {
    margin: 0.75em;
}

.speech-bubble {
	position: relative;
	background: #6f777d;
    color: #fff;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-top-color: #6f777d;
	border-bottom: 0;
	border-left: 0;
	margin-left: -15px;
	margin-bottom: -30px;
}
