---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* system typefaces */
$serif      : "Not Serif", Georgia, Times, serif;
$sans-serif : "Noto Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* bootstrap defines color for pre, which takes precedence over
 * minimal_mistakes. */
pre.lineno {
    color: $base04;
}

pre.highlight {
    color: $base05;
}

/* same as in `pre.lineno`. adjust font-size in syntax highlight */
div.highlighter-rouge {
    font-size: 1em;
}

table.rouge-table {
    font-size: 1.5em;
}

/* .pi is missing in _sass/minimal-mistakes/_syntax.scss, which causes `:`,
 * `"`, and others are colored in black, which is inherited from default.
 * the token, `pi` is not defined in Pygments, but is in Rouge. more
 * investigation is required for understanding what is going on.
 */

.highlight {
  .pi {
    /* Punctuation */
    color: $base05;
  }
}
