---
name: Run standard

on:
  - push
  - pull_request

jobs:
  build:
    name: Run standard
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2

      - name: Install packages
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: install

      - name: Run standard
        run: |
          node_modules/.bin/standard
