{%- comment %}
for icon, choose one from https://forkaweso.me/Fork-Awesome/icons/
arguments:
    icon: icon name
    title: the title
    summary: text to summarize item
    href: link
{%- endcomment %}
{%- assign menus = include.items %}
<!-- _includes/local/kb_menu.html -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="wrimagecard wrimagecard-topimage">
                 <a href="#">
                     <div class="wrimagecard-topimage_header" style="background-color:  rgba(51, 105, 232, 0.1)">
                        <center><i class="fa fa-area-chart" style="color:#BB7824"></i></center>
                     </div>
                     <div class="wrimagecard-topimage_title">
                        <h4>Charts<div class="pull-right badge">18</div></h4>
                     </div>
                 </a>
            </div>
        </div>
    </div>
</div>
