{%- comment %}
for icon, choose one from https://forkaweso.me/Fork-Awesome/icons/
arguments:
    icon: icon name
    title: the title
    summary: text to summarize item
    href: link
{%- endcomment %}
{%- assign menus = include.items %}
<!-- _includes/local/kb_menu.html -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{{ include.title | default: "Menus" }}</h2>
    </div>
    {%- for menu in menus %}
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <span class="fa-stack fa-5x">
                <a href="{{ menu.href }}">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa {{ menu.icon }} fa-stack-1x fa-inverse"></i>
                </a>
                </span>
            </div>
            <div class="panel-body">
                <h4>{{ menu.title }}</h4>
                {{ menu.summary }}
                <a href="{{ menu.href }}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    {%- endfor %}
</div>
