{% comment %}
  arguments:
    title:
      The title of the quote, used as the header of the card.
    text:
      The quoted text
    author:
      the name of the author
    url:
      absolute URL to the source of the quote. if author is not defined,
         the domain part of the URL is used as a link text
{% endcomment %}
<div class="card">
  <div class="card-header">
      <strong>{{ include.title }}</strong>
  </div>
  <div class="card-body">
    <quote class="card-text">{{ include.text }}</quote>
    <div class="text-right">
      &mdash;
      {% if include.url %}
      <a href="{{ include.url }}" class="card-link">
      {% endif %}
      {% if include.author %}
        {{ include.author }}
      {% else %}
        {{ include.url | remove:'http://' | remove: 'https://' | split:'/' | first }}
      {% endif %}
      {% if include.url %}
      </a>
      {% endif %}
    </div>
  </div>
</div>
